.header {
  position: relative;
  width: 100%;
  padding: 15px 0;
  background-color: $primary-color;
  figure {
    img {
      width: 90px;
      height: 30px;
      filter: brightness(0) invert(1);
      @include object-fit(contain);
    }
  }
  .wrapper {
    @include flex;
    @include align-items(center);
    @include justify-content(space-between);
    .nav {
      @include flex;
      @include align-items(center);
      a,
      .logout {
        background-color: transparent;
        color: $base-white-color;
        text-decoration: none;
        padding-right: 15px;
        @include trans;
        &:hover,
        &.is-active {
          opacity: 0.6;
        }
      }
      .logout {
        padding: 0;
        box-shadow: none;
        border: none;
      }
    }
  }
}
