@import "styles/_config.scss";
@import "styles/_login.scss";
@import "styles/_header.scss";
@import "styles/_form.scss";
@import "styles/_task.scss";
@import "styles/_profile.scss";
@import "styles/_footer.scss";

body {
  background-color: $bg-light;
  font-family: $font-family;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  p {
    font-weight: 300;
  }
}

// Masonry - For card
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 15px;
}

.btn-primary {
  &:disabled {
    background-color: $primary-color;
    border-color: $primary-color;
    opacity: 0.3;
    margin: 0;
  }
}

.page {
  padding: 80px 0;
  .card {
    background-color: $base-white-color;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding: 50px 0;
  }
}
